<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="mq-wrapper">
		<!-- Sidebar -->
		<div class="mq-sidebar">
			<div class="mq-branding">
			</div>

			<nav>
				<ul class="nav navbar-nav">
					<li><a href="dashboard">home</a></li>
					<li><a href="mydetails">My Details</a></li>
					<li><a href="dashboard">about</a></li>
				</ul>
			</nav>
		</div>

		<!-- widgets -->
		<div class="mq-container">
			<!-- Breadcrums -->
			<div class="mq-bread-crumbs">
				<ul>
					<li><a style="color:rgb(65, 180, 247)" href="dashboard"><h1>Dashboard</h1></a></li>
				
				</ul>
			</div>

			<!-- widget -->
			<div class="mq-service-box">
				<div class="mq-box-header">
          <h1 style="color:rgb(65, 180, 247)">manager action</h1>
					
				</div>

				<div class="mq-box-body">
					
				</div>
			</div>

			<!-- widget -->
			<div class="mq-service-box">
				<div class="mq-box-header">
					<a href="history"><h1>history</h1></a>
				</div>

				<div class="mq-box-body">
					
				</div>
			</div>

			<!-- widget -->
			<div class="mq-service-box">
				<div class="mq-box-header">
					<a href="pending"><h1>PENDING LEAVES</h1></a>
				</div>

				<div class="mq-box-body">
					
				</div>
			</div>

			<!-- widget -->
			<div class="mq-service-box">
				<div class="mq-box-header">
					
				</div>

				<div class="mq-box-body">
					<a href="ApplyLeave"><h1>APPLY FOR LEAVE</h1></a>
				</div>
			</div>

			<!-- small widget -->
			<div class="mq-small-service-box">
				<div class="small-box">
				
				</div>

				<div class="small-box">
				
				</div>

				<div class="small-box">
				
				</div>

				<div class="small-box">
				
				</div>
			</div>
		</div>
	</div>